extends layouts/main

block content
    .container
        .form-container
            form(action=routes.editTrack(track.id), method="post")
                input(type="text", placeholder="Название", name="title", required=true, value=track.title)
                textarea(name="description", placeholder="Описание", required=true) #{track.description}
                input(type="submit", value="Обновить").button
            a.button.button-danger(href=routes.deleteTrack(track.id)) Удалить трек    