extends layouts/main

block content
    .container
        .form-container
            form(action=routes.join, method="post")
                input(type="text", name="name", placeholder="Никнейм",required=true)        
                input(type="email", name="email", placeholder="Email",required=true)
                input(type="password", name="password", placeholder="Пароль",required=true)
                input(type="password", name="password2", placeholder="Подтвердите пароль",required=true)
                input(type="submit",value="Присоединиться").button
