extends layouts/main

block content
    .track-detail
        .track-header
            .track-header-audio
                .track-header-play
                    button play
                    .track-header-photo
                        img(src=`/${track.imageUrl}`, alt="a")
                    .track-header-name Автор
                    .track-header-title=track.title
                .track-header-bar бар
                audio(src=`/${track.fileUrl}`, controls)
        .track-body
            .track-edit
                a(href=routes.editTrack(track.id)) Редактировать
            .track-description=track.description
            .track-comments Комментарии
