extends layouts/main

block content
    .track-detail
        .track-header
            .container
                .row
                    .col-sm-9.order-sm-1.order-12
                        .track-header-audio
                            .track-header-controls
                                button.track-header-play
                                    i.fa.fa-play
                                .track-header-meta
                                    .track-header-title=track.title
                                    a(href=routes.userDetail(track.creator.id)).track-header-name=track.creator.name
                            audio(src=`/${track.fileUrl}`)
                            .audio-controls
                                .audio-controls-curr-time 0:00
                                input(type="range", min="0", max="100").audio-controls-progress
                                .audio-controls-duration 0:00
                    .col-sm-3.order-sm-12.order-1
                        .track-header-photo
                            img(src=`/${track.imageUrl}`, alt="a")
        .track-body
            .container
                if loggedUser && track.creator.id === loggedUser.id
                    .track-edit
                        a(href=routes.editTrack(track.id)) Редактировать
                .track-listen #{track.listen} прослушиваний
                .track-description
                    .track-author
                        .track-author-img
                            img(src=`/${track.creator.avatarUrl}`, alt=`${track.creator.name}`)
                        .track-author-name=track.creator.name
                    .track-description-text=track.description
                form.comment-form
                    textarea(placeholder="Ваше сообщение")
                    input(type="hidden", id="commentName", value=`${loggedUser.name}`)
                    input(type="hidden", id="commentImage", value=`${loggedUser.avatarUrl}`)
                    input(type="submit", value="Отправить").button
                .track-comments
                    each comment in track.comments.reverse()
                        .comment-item
                            .comment-item-img
                                img(src=`/${comment.author.avatarUrl}`, alt=`${comment.author.name}`)
                            .comment-item-text
                                .comment-author=comment.author.name
                                .comment-text=comment.text
