header.header 
    a(href=routes.home).logo Noisecloud
    button.header-menu-toggle
        i.fa.fa-bars
    .header-menu
        form(action=routes.search, method="get").search-form
                input(type="text", placeholder="Найти песню...", name="term")
                button(type="submit").fa.fa-search
        .header-nav
            if !user.isAuthenticated
                a(href=routes.join).header-item Зарегистрироваться
                a(href=routes.login).header-item Войти
            else
                a(href=`/tracks${routes.upload}`).header-item.button Загрузить
                a(href=routes.userDetail(user.id)).header-item Профиль
                a(href=routes.logout).header-item Выйти